body{
    background-color: burlywood;
}
.main_h1{
    text-align: center;
    color: crimson;
    margin-top: 20px;
}
.nav{
    display:flex;
    background-color:ghostwhite;
    height: 30px;
}
.nav a{
    color:coral;
    text-decoration: none;
    margin-top: 10px;
}
.main_head{
    display:flex;
    background-color:cadetblue;
    margin-top: 20px;
}
.main_head pre{
   width:50%;
}
.main_head h2{
    margin:100px;
    color:darkgreen;
}
.an{
    width:50%;
    height:340px;
}
.img{
    width:100%;
    height:100%
}
.routes_main{
    text-align: center;
    color: crimson;
    margin-top: 20px;;
}
.routes1{
    display:flex;
}
.routes1 ul li{
    color:darkred;
    list-style: circle;
}
.search{
    display: flex;
}
.search_head{
    color:purple;
    text-align: center;
}
.search button,select,input{
    border-radius: 20px;
}
.search_b{
    width:150px;
}
.footer_main{
    width:100%;
    height: 180px;
    background-color:darkgrey;
}
.footer p{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
table th,td{
    width:100px;
    border:1px solid;
    border-collapse: collapse;
}
#date{
    display: flex;
}
#adding{
    margin-top: 10px;
    margin-left: 100px;
}